body  {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2, h3, h4  {
  margin: 0;
  padding: 10px;
  margin: auto;
}

header  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header img  {
  height: 50px;
  padding-left: 10px;
}

header nav  {
  display: flex;
  justify-content: space-between;
}

a  {
  color: seashell;
  font-family: helvetica;
  font-size: 24px;
  padding: 10px;
}

.mission  {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  height: 700px;
  width:1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  margin: 70px auto;
}

.statement  {
  background-color: black;
  margin: auto;
  width: 100%;
}

.statement h4, .statement h2  {
  display: block;
  width: 1200px;
}

.menu  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.item  {
  padding: 5px;
}

.item img  {
  height: 200px;
  width: 300px;
}
